@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .text-foreground {
    @apply text-black;
  }

  .bg-foreground {
    @apply bg-black;
  }

  .border-foreground {
    @apply border-black;
  }

  html.dark {
    .text-foreground {
      @apply text-white;
    }

    .bg-foreground {
      @apply bg-white;
    }

    .border-foreground {
      @apply border-white;
    }
  }
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  @apply w-full h-full;
}

#root {
  @apply transition-all;
  font-family: "Spoqa Han Sans Neo", "sans-serif";
}

.transition-grouper > div {
  @apply overflow-y-auto;
}

button,
.button {
  @apply px-4 py-1 rounded-md border-2 border-neutral-200 bg-neutral-100 hover:bg-neutral-200 transition-all;
}

input {
  @apply px-2 py-1 rounded-md border-2 border-neutral-200 bg-neutral-100 hover:border-primary focus:border-primary transition-all;
}

html.dark {
  #root {
    @apply text-white bg-black;
  }

  button,
  .button {
    @apply border-neutral-800 bg-neutral-900 hover:bg-neutral-800;
  }

  input {
    @apply border-neutral-800 bg-neutral-900;
  }
}

$slideDirectionMap: (
  up: top,
  left: left,
  down: bottom,
  right: right,
);

@each $dir, $val in $slideDirectionMap {
  @debug $dir;
  @debug $val;

  // .page-slide-#{$dir}-enter,
  // .page-slide-#{$dir}-exit {
  //   @apply absolute w-full h-full;
  // }

  // .page-slide-#{$dir}-enter {
  //   #{$val}: 100%;
  // }

  // .page-slide-#{$dir}-exit {
  //   #{$val}: 0;
  // }

  // .page-slide-#{$dir}-enter-active,
  // .page-slide-#{$dir}-exit-active {
  //   transition: $val;
  //   transition-duration: 1s;
  //   transition-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
  // }

  // .page-slide-#{$dir}-enter-active {
  //   #{$val}: 0;
  // }

  // .page-slide-#{$dir}-exit-active {
  //   #{$val}: -100%;
  // }

  .slide-#{$dir} .route-animation-enter,
  .slide-#{$dir} .route-animation-exit {
    @apply absolute w-full h-full;
  }

  .slide-#{$dir} .route-animation-enter {
    #{$val}: 100%;
  }

  .slide-#{$dir} .route-animation-exit {
    #{$val}: 0;
  }

  .slide-#{$dir} .route-animation-enter-active,
  .slide-#{$dir} .route-animation-exit-active {
    transition: $val;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
  }

  .slide-#{$dir} .route-animation-enter-active {
    #{$val}: 0;
  }

  .slide-#{$dir} .route-animation-exit-active {
    #{$val}: -100%;
  }
}
